{
  "services": [
    {
      "name": "{{ loki.service.name }}",
{% if loki.service.tags %}
      "tags": ["{{ loki.service.tags|join('", "') }}"],
{% endif %}
{% if loki.service.meta %}
      "meta": {
{% for key, value in loki.service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "address": "{{ loki.host }}",
      "port": {{ loki.port }}
    },
    {
      "name": "{{ loki.exporter.service.name }}",
{% if loki.exporter.service.tags %}
      "tags": ["{{ loki.exporter.service.tags|join('", "') }}"],
{% endif %}
{% if loki.exporter.service.meta %}
      "meta": {
{% for key, value in loki.exporter.service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "address": "{{ loki.exporter.host }}",
      "port": {{ loki.exporter.port }},
      "checks": [
        {
          "id": "loki_exporter_check",
          "name": "Prometheus loki exporter health check",
          "http": "http://{{ loki.exporter.host }}:{{ loki.exporter.port }}/api/prom/label",
          "interval": "20s"
        }
      ]
    }
  ]
}
