---

version: '3.5'

{% if loki.server.container.networks|default([]) or loki.promtail.container.networks|default([]) %}
networks:
{% for network in loki.server.container.networks|default([]) %}
  {{ network.name }}:
    external: true
{% endfor %}
{% for network in loki.promtail.container.networks|default([]) %}
  {{ network.name }}:
    external: true
{% endfor %}
{% endif %}

{% if loki.server.enabled|default(False) %}
volumes:
  data:
{% endif %}

services:
{% if loki.server.enabled|default(False) %}
  server:
    container_name: {{ loki.server.container.name }}
    image: {{ loki.server.container.image }}
    command: -config.file=/etc/loki/config.yml
{% if loki.server.container.dns %}
    dns: {{ loki.server.container.dns }}
{% endif %}
{% if loki.server.container.labels %}
    labels:
{% for label in loki.server.container.labels|default([]) %}
      - {{ label }}
{% endfor %}
{% endif %}
{% if loki.server.container.syslog.enabled %}
    logging:
      driver: syslog
      options:
        syslog-address: "{{ loki.server.container.syslog.host }}"
        tag: {{ loki.server.container.syslog.tag }}
{% endif %}
{% if loki.server.container.networks %}
    networks:
{% for network in loki.server.container.networks %}
      - {{ network.name }}
{% endfor %}
{% endif %}
    ports:
      - {{ loki.server.host }}:{{ loki.server.port }}:3100
    restart: {{ loki.server.container.restart }}
    volumes:
      - ./config.yml:/etc/loki/config.yml
      - data:/var/lib/loki
{% endif %}

  promtail:
    container_name: {{ loki.promtail.container.name }}
    image: {{ loki.promtail.container.image }}
    command: -config.file=/etc/promtail/config.yml
{% if loki.promtail.container.dns %}
    dns: {{ loki.promtail.container.dns }}
{% endif %}
{% if loki.promtail.container.labels %}
    labels:
{% for label in loki.promtail.container.labels|default([]) %}
      - {{ label }}
{% endfor %}
{% endif %}
{% if loki.promtail.container.syslog.enabled %}
    logging:
      driver: syslog
      options:
        syslog-address: "{{ loki.promtail.container.syslog.host }}"
        tag: {{ loki.promtail.container.syslog.tag }}
{% endif %}
{% if loki.promtail.container.networks %}
    networks:
{% for network in loki.promtail.container.networks %}
      - {{ network.name }}
{% endfor %}
{% endif %}
    ports:
      - {{ loki.promtail.host }}:{{ loki.promtail.port }}:9080
      - {{ loki.promtail.syslog.host }}:{{ loki.promtail.syslog.port }}:1514
    restart: {{ loki.promtail.container.restart }}
    volumes:
      - ./promtail.yml:/etc/promtail/config.yml
      - /var/log:/var/log
