---

version: '3.5'

{% if loki.server.enabled|default(False) %}

{% if loki.server.contaner.network|default(False) %}
networks:
  {{ loki.server.container.network.name }}:
    external: true
{% endif %}

volumes:
  data:
{% endif %}

services:
{% if loki.server.enabled|default(False) %}
  server:
    container_name: {{ loki.server.container.name }}
    image: {{ loki.server.container.image }}
    command: -config.file=/etc/loki/config.yml
    dns: {{ loki.server.container.dns }}
{% if loki.server.container.syslog.enabled %}
    logging:
      driver: syslog
      options:
        syslog-address: "{{ loki.server.container.syslog.host }}"
        tag: {{ loki.server.container.syslog.tag }}
{% endif %}
{% if loki.server.contaner.network|default(False) %}
    networks:
      - {{ loki.server.container.network.name }}
{% endif %}
    ports:
      - {{ loki.server.host }}:{{ loki.server.port }}:3100
    restart: {{ loki.server.container.restart }}
    volumes:
      - ./config.yml:/etc/loki/config.yml
      - data:/var/lib/loki
{% endif %}

  promtail:
    container_name: {{ loki.promtail.container.name }}
    image: {{ loki.promtail.container.image }}
    command: -config.file=/etc/promtail/config.yml
    dns: {{ loki.promtail.container.dns }}
{% if loki.promtail.container.syslog.enabled %}
    logging:
      driver: syslog
      options:
        syslog-address: "{{ loki.promtail.container.syslog.host }}"
        tag: {{ loki.promtail.container.syslog.tag }}
{% endif %}
{% if loki.promtail.contaner.network|default(False) %}
    networks:
      - {{ loki.promtail.container.network.name }}
{% endif %}
    ports:
      - {{ loki.promtail.host }}:{{ loki.promtail.port }}:9080
      - {{ loki.promtail.syslog.host }}:{{ loki.promtail.syslog.port }}:1514
    restart: {{ loki.promtail.container.restart }}
    volumes:
      - ./promtail.yml:/etc/promtail/config.yml
      - /var/log:/var/log
